html { width:100%; height:100%; margin:0; padding: 0; }
body { width:100%; height:100%; margin:0; padding: 0; background-color: #0d5ba3;}
a{text-decoration: none;}
ul{list-style: none;}


.headerLine
{
    display: flex;
    background-color: white;
    position: relative;
    min-width: 495px;
}

.menuBlock
{
    display: flex;
    justify-content: space-between;
    width: 82%;
    margin-left: auto;
    margin-right: 15%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}   

.menuItem
{
    color: grey;
    margin: 30px;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul li
{
    display: inline-block;
}

.hamburger
{
    display: none;
    align-items: center;
    justify-content : center;
    margin: 15px;
    height: 34px;
    width: 40px;
    border-radius: 4px;
    cursor: pointer;
}

.hamburger span
{
    display: block;
    height: 2px;
    width: 20px;
    background-color: black;
    position: relative;
}

.hamburger span::before,
.hamburger span::after
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    left: 0;
}

.menuBlock #hamburgerPressed
{
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.hamburger span::before
{
    top: -6px;
}

.hamburger span::after
{
    top: 6px;
}

@media(max-width: 800px)
{
    .hamburger
    {
        display: flex;
        margin-left: 70%;
    }

    .navigation
    {
        position: absolute;
        left:0;
        top: 100%;
        width: 100%;
        background-color: white;
        opacity: 0;
        visibility: hidden;
          
    }

    .navigation ul li
    {
        display: block;
        margin: 0;
        
    }

    .menuBlock #hamburgerPressed:checked ~ .navigation
    {
        opacity: 1;
        visibility: visible;
    }
}


.logoPicture
{
    margin-left: 50px;
    align-self: center;
}


@media screen and (min-width: 801px) 
{    
    .upBlock
    {
        display: grid;
        background-color: #e0e5eb;
        max-height: 550px;
    }

    .womanPicture
    {
        margin-left: 60%;
        margin-bottom: 50px;
        grid-column: 1 / 9;
        grid-row: 5 / 12;
        width: 75%;
    }

    .conferencePicture
    {
        margin-top: 10%;
        margin-left: 35%;
        grid-column: 7 / 19;
        grid-row: 1 / 7;
        width: 80%;
    }   

    .floatingBlock
    {
        margin-left: 27%;
        grid-column:  15 / 25;
        grid-row: 6 / 11;
        width: 43%;
        display: flex;
        flex-direction: column;
        padding: 30px;
        color: white;
        background-color: #478ac9;
        font-family: Arial, Helvetica, sans-serif;
    }

    .floatingBlockTitle
    {
        font-size:xxx-large;
        margin-top: 5%;
    }

    .floatingBlockText
    {
        font-size: 20px;
        line-height: 45px;
        margin-top: 5%;
    }

    .readMoreBlock
    {
        text-align: center;
        padding: 20px;
        margin-top: 10%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
        border: 2px solid #e0e5eb;
        color: white;
        transition-duration: 0.4s;
        transition-timing-function: ease;
        background-color: #478ac9;
        width: 20%;
        margin-top: 15%;
    }

    .downBlock
    {
        background-color: white;
        height: 40%;
        min-height: 450px;
    }

    .footerText
    {
        width: 400px;
        margin: 40px;
        text-align: center;
        border: 0px solid #ccc;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        resize: none;
        color: white;
        background-color: #333333;
    }
}


@media screen and (max-width: 800px) {
    .upBlock
    {
        display: grid;
        height: 50%;
        background-color: #e0e5eb;
        justify-content: center;
        min-width: 495px;
        max-height: 450px;
    }

    .conferencePicture
    {
        grid-column: 2 / 11;
        grid-row: 1 / 5;
        height: 280px;
        width: 350px;
        object-fit: cover;
        margin-left: 10%;
        margin-top: 10%;
    }   

    .womanPicture
    {
        grid-column: 1 / 8;
        grid-row: 4 / 10;
        width: 300px;
        margin-left: 15%;
    }

    .floatingBlock
    {
        grid-column: 3 / 11;
        grid-row: 9 / 17;
        width: 320px;
        padding: 5%;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        color: white;
        background-color: #478ac9;
        font-family: Arial, Helvetica, sans-serif;
    }

    .floatingBlockTitle
    {
        font-size: 40px;
        margin-top: 5%;
    }

    .floatingBlockText
    {
        font-size: 20px;
        line-height: 40px;
        margin-top: 20%;
    }

    .readMoreBlock
    {
        text-align: center;
        padding: 15px;
        margin-top: 10%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
        border: 2px solid #e0e5eb;
        color: white;
        transition-duration: 0.4s;
        transition-timing-function: ease;
        background-color: #478ac9;
        width: 40%;
    }

    .downBlock
    {
        background-color: white;
        min-height: 750px;
        min-width: 495px;
    }

    .footerText
    {
        width: 340px;
        margin: 40px;
        text-align: center;
        border: 0px solid #ccc;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        resize: none;
        color: white;
        background-color: #333333;
    }
}

.readMoreBlock:hover{
    background-color: #0d5ba3;
    
    transition-duration: 0.4s;
    transition-timing-function: ease;
}

.footerBlock
{
    display:flex;
    justify-content: center;
    color: white;
    background-color: #333333;
    min-width: 495px;
}



